name: CI

on:
  push:
    branches:
      - main
    tags: ['*']
  workflow_dispatch:
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6.7.0

      - name: Install environment
        run: |
          uv venv
          uv sync

      - name: Run tests
        run: uv run pytest -v
