name: Check code with pre-commit

on:
  push:
    branches:
      - main
    tags: ['*']
  workflow_dispatch:
  pull_request:

jobs:
  pre-commit:
    name: Check code with pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
